body{
    text-align: center;
}

.btn{
    border: 10px solid black;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    margin: 2rem;
}

#boxContainer{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
 background-color: #63aac0;
}

.blue{
    background-color: #819ff9;
}

.Gameflash{
    background-color: white;
}

.Userflash{
    background-color: green;
}